@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-with-opacity: hsl(0, 1%, 43%);

  --Font-size-paragraph: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--White);
}

.header-wrapper {
  padding: 15px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  h2 {
    font-size: 2em;
  }

  .menu-img {
    height: 20px;
    width: 20px;
  }

  .logo {
    height: 20px;
  }
}

.profile-cart {
  display: flex;
  gap: 25px;
  img {
    height: 30px;
    width: 30px;
  }
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff00;
  backdrop-filter: blur(50px);
  height: 100vh;
  width: 100vw;


  .menu-wrapper {
    padding: 20px;
    width: 200px;
    height: 100vh;
    background-color: var(--White);
    backdrop-filter: blur(10px);
  }

  img {
    height: 20px;
    width: 20px;
  }

  .menu-item {
    margin-top: 30px;

    a {
      display: block;
      margin-top: 20px;
    }
  }
}

.cart {
  display: none;
  position: absolute;
  top: 83px;
  right: 10px;
  background-color: white;
  width: 360px;
  height: 290px;
  border-radius: 10px;

  .cart-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    border-bottom: solid hsl(220, 14%, 95%);
  }

  .cart-list {
    padding: 10px;
    flex: 1;
    color: var(--Grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-list ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

li {
  list-style: none;
  width: 100%;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-item > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img {
  width: 60px;
  border-radius: 5px;
}

.item-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.remove-icon {
  margin-right: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check-out {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.check-out-btn {
  width: 85%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--Orange);
}

.cart-list {
  padding: 10px;
  flex: 1;
  overflow-y: auto; 
  max-height: 180px;
}

strong{
  color: black;
}

.cart-list::-webkit-scrollbar {
  width: 6px;
}
.cart-list::-webkit-scrollbar-thumb {
  background-color: hsl(220, 14%, 75%);
  border-radius: 10px;
}

.main {
  width: 100vw;
  height: 300px;
  background-image: url(./images/image-product-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  .img-changer {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .previous,
    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: var(--White);
      border-radius: 50%;
    }
  }
}

.content-wrapper {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;

  :nth-child(1) {
    color: var(--Black-with-opacity);
  }

  :nth-child(3) {
    color: var(--Dark-grayish-blue);
  }

  .prd-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rate {
      p {
        color: black;
        font-size: 30px;
        font-weight: 700;
      }

      sub {
        background-color: black;
        padding: 3px;
        color: var(--White);
        border-radius: 5px;
      }
    }

    .striked-rate {
      p {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }

  .qty-button {
    background-color: var(--Light-grayish-blue);
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;

    .count {
      font-size: 25px;
      font-weight: 700;
    }
  }

  .add-to-cart-btn {
    background-color: var(--Orange);
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
  }
}

/* .cart-container {
  background-color: aliceblue;
  width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .item-image {
    height: 50px;
    width: 50px;
    border-radius: 5px;
  }

  p {
    color: blue;
    line-height: 8px;
  }

  .delete-icon {
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
} */
